* {
    box-sizing: border-box;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    text-align: center;
    margin: 0px 100px;
}

li {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(137, 43, 226, 0.206);
}